<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem name="Immobilier" id="menu_root_immobilier" web_icon="annonce_immo,static/description/icon-1.png">
        <menuitem id="menu_annonces_bien" name="Annonces">
            <menuitem id="menu_bien" name="Bien Immobiliers" action="annonce_immo.action_bien_immobilier"/>
        </menuitem>   

        <menuitem id="menu_annonces_bien_parametres" name="Paramètres">
            <menuitem id="menu_bien_type" name="Type de Bien" action="annonce_immo.action_type_bien"/>
            <menuitem id="menu_particularite" name="Particularités du Bien" action="annonce_immo.action_particularite"/>
        </menuitem>  
    </menuitem>
</odoo>